exclude: "^tests/|app/admin/"
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        args: ["--fix", "--unsafe-fixes"]
        language: system
        types: [python]
        pass_filenames: true
        always_run: false
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true
        always_run: false

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy app/
        language: system
        types: [python]
        pass_filenames: false
        always_run: true


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml


  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      - id: uv-lock
